In [1]:
import pandas as pd
import numpy as np

In [3]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")
combine = [train_df,test_df]

In [4]:
data = pd.concat(combine, sort = True)

In [5]:
print('Answer to Question 1')
print(data.columns)

Answer to Question 1
Index(['Age', 'Cabin', 'Embarked', 'Fare', 'Name', 'Parch', 'PassengerId',
       'Pclass', 'Sex', 'SibSp', 'Survived', 'Ticket'],
      dtype='object')

In [10]:
print("Answer to Question 5 and 6")
print(data.info())

Answer to Question 5 and 6
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
Age            1046 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB
None

In [11]:
print('Answer to Question 7')
print(data.describe())

Answer to Question 7
               Age         Fare        Parch  PassengerId       Pclass  \
count  1046.000000  1308.000000  1309.000000  1309.000000  1309.000000
mean     29.881138    33.295479     0.385027   655.000000     2.294882
std      14.413493    51.758668     0.865560   378.020061     0.837836
min       0.170000     0.000000     0.000000     1.000000     1.000000
25%      21.000000     7.895800     0.000000   328.000000     2.000000
50%      28.000000    14.454200     0.000000   655.000000     3.000000
75%      39.000000    31.275000     0.000000   982.000000     3.000000
max      80.000000   512.329200     9.000000  1309.000000     3.000000

             SibSp    Survived
count  1309.000000  891.000000
mean      0.498854    0.383838
std       1.041658    0.486592
min       0.000000    0.000000
25%       0.000000    0.000000
50%       0.000000    0.000000
75%       1.000000    1.000000
max       8.000000    1.000000

In [12]:
print("Answer to Question 8")
print(data.describe(include = "O"))

Answer to Question 8
              Cabin Embarked                  Name   Sex    Ticket
count           295     1307                  1309  1309      1309
unique          186        3                  1307     2       929
top     C23 C25 C27        S  Connolly, Miss. Kate  male  CA. 2343
freq              6      914                     2   843        11